:root {
  --color-titulos: rgb(25, 3, 226);
  --color-cabecera: rgb(135, 206, 250);
  --color-cabeceraop: rgba(61, 163, 227, 0.7);
  --color-hover: rgb(154, 213, 231);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  /* mobile first */
  background-color: yellow;
  font-size: 0.9rem;
  /* color: linear-gradient(circle, rgb(196, 104, 127), rgb(154, 213, 231)); */
  color: black;
  display: flex;
  flex-direction: column;
  align-content: flex-start;

  /* Cabecera */
  .header {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    background-color: var(--color-cabecera);
    font-size: 0.8rem;

    .avatar {
      /* color degradado al borde*/
      background: radial-gradient(circle, rgb(35, 224, 249), rgb(154, 213, 231));
      border: 4px solid transparent;
      border-radius: 50%;
      width: 5rem;
      height: 5rem;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    }

    .division1 {
      color: black;
      display: flex;
      gap: 1rem;
    }

    .division2 {
      color: black
    }
  }

  /* Navbar */
  .navbar {
    position: sticky;
    background-color: var(--color-cabecera);
    top: 0;

    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    gap: 3rem;
    /* position: relative; */
  }

  .brand {
    font-weight: bolder;
    margin-right: 4rem;

    /* Efecto */
    .texto-contorno-relleno {
      color: #fff;
      -webkit-text-stroke: 1px #000;
    }
  }

  .menu-toggle {
    display: none;
  }

  /* Icono hamburguesa */
  .toggle-btn {
    font-size: 1.1rem;
    cursor: pointer;
    user-select: none;
    display: block;
  }

  .toggle-btn::before {
    content: "☰";
    color: rgb(25, 3, 226);
  }

  /* Icono cerrar */
  .menu-toggle:checked+.toggle-btn::before {
    content: "✖";
    color: darkred;
  }



  .menu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--color-cabeceraop);
    /* efecto blur */
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    text-align: center;
  }

  .menu a {
    color: rgb(25, 3, 226);
    padding: 0.6rem;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #555;
  }

  .menu a:hover {
    color: var(--color-hover);
  }

  .menu-toggle:checked+.toggle-btn+.menu {
    display: flex;
  }

  .tarjetaContacto {
    border: 2px solid rgb(25, 3, 226);
    border-radius: 10px;
    padding: 0.6rem 1rem;
    background-color: var(--color-cabeceraop);
    /* sombra al div: */
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);

    a {
      text-decoration: none;
      color: black;
      list-style: none;
    }

    a:hover {
      color: var(--color-hover);
    }

    li {

      /* quitar puntos */
      list-style: none;
      /* display: inline; */
      margin: 0.15rem 0.2rem;
      font-size: 0.8rem;
      font-weight: 500;
    }
  }


  /* Apartados */

  .apartado {

    font-family: "Roboto Condensed", sans-serif;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid var(--color-titulos);
    border-radius: 8px;
    background-color: var(--color-cabeceraop);
    
    h2{
      color:rgb(25, 3, 226)
    }


  }

  /* Botón arriba */

  .scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 5rem;
    padding: 0.5rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 300;
    z-index: 9999;
    opacity: 0.8;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .scrollTopBtn:hover {
    opacity: 1;
    transform: scale(1.05);
  }

  /* Opcional: animación de aparición */
  .scrollTopBtn {
    animation: fadeIn 0.4s ease forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 0.8;
      transform: translateY(0);
    }
  }


}

@media (min-width: 768px) {

  /* Estilos para tablet */

  .app {
    font-size: 1rem;

    .header {

      .avatar {
        width: 6.5rem;
        height: 6.5rem;
      }

      .tarjetaContacto {
        li {
          display: block;
        }
      }
    }

    .toggle-btn {
      display: none;
    }

    .menu {
      position: static;
      display: flex !important;
      flex-direction: row;
      background: none;
      width: auto;
    }

    .menu a {
      border: none;
      padding: 0.5rem 1rem;
    }

    .menu a:hover {
      background-color: var(--color-cabeceraop);
    }

    .brand {
      margin-right: auto;
    }

    .menu {
      margin: 0 auto;
    }



  }
}

@media (min-width: 1024px) {

  /* Estilos para portátiles y escritorio */

  .app {
    font-size: 1rem;

    .header {

      .tarjetaContacto {
        font-size: 1rem;

        li {
          display: block;
          /* quitar puntos */
          list-style: none;
          margin: 0 0.2rem;
          font-size: 1rem;
        }
      }
    }
  }
}